<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_voice_listener">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Declare queries for services (Android 12 and above) -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

</manifest>
